<div class="flex-grow-1">
    <div class="section-header">Inputs Test</div>
    <div class="section-desc">Input elements accessing with <b>[(ngModel)]</b></div>
    <div>
        <form [formGroup]="form">
            <div class="form-group">
                <div formArrayName="phone">
                    <div *ngFor="let p of phonesArray.controls; let i=index">
                        <div [formGroupName]="i">
                            <div class="d-flex mb-2">
                                <div class="phone-type">
                                    <ngym-input-select formControlName="type" [customClass]="'form-control'"
                                        [options]="phoneTypeArray" [selectedValue]="p.value.type"
                                        [optionRobotClass]="'robot_phone_numberOption'"></ngym-input-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <a class="anchor-primary robot_contactCreate_addPhone" (click)="addPhoneNumber()">
                        <i class="fa-regular fa-plus fa-primary fa-normal"></i>
                        <span class="pl-2">Add</span>
                    </a>
                </div>
                <div>
                    <a class="anchor-primary robot_contactCreate_addPhone" (click)="showData()">
                        <i class="fa-regular fa-plus fa-primary fa-normal"></i>
                        <span class="pl-2">Final</span>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>