<div class="section-header">ngym-count-info</div>
<div class="section-desc">
    Custom count info for sidebars.
</div>
<div class="section-content">
    <h5>Code Example - given max value 15 whereas actual value is 10 </h5>
    <div>
        <ngym-count-info [classes]="'ml-auto'" [maxCountValue]="10" [count]="15"></ngym-count-info>
    </div>
</div>
<div class="section-content">
    <h5>Code Example - max value kept as default (9999) and actual value is 10</h5>
    <div>
        <ngym-count-info [classes]="'ml-auto'" [count]="10"></ngym-count-info>
    </div>
</div>