<div class="section-header">ngym-contacts</div>
<div class="section-desc">
    Contacts library for YaaniMail. Standart form component built with reactive forms. <a
        href="https://www.npmjs.com/package/ngym-contacts">here</a>.
</div>
<hr>
<div class="section-content">
    <h5>Config Properties</h5>

</div>

<div>
    <ngym-create-contact [contactConfig]="contactConfig" (onAddEmitter)="onAdd($event)" (onCancelEmitter)="onCancel()"
        (onAddErrorEmitter)="onError($event)">
    </ngym-create-contact>
</div>