<div class="p-4">
    <div>
        <img src="../../../assets/img/yaanimail2x-enterprise.png" alt="" width="150">
    </div>
    <div class="mt-4">
        <h6>Libraries</h6>
        <ul>
            <li><a routerLink="chips">Chips</a></li>
            <li><a routerLink="forms">Forms</a></li>
            <li><a routerLink="view-contact">View Contact</a></li>
            <li><a routerLink="new-contact">New Contact</a></li>
            <li><a routerLink="edit-contact">Edit Contact</a></li>
            <li><a routerLink="new-contact">Prelogin Header</a></li>
            <li><a routerLink="dropdown">Dropdown</a></li>
            <li><a routerLink="quick-actions">Quick Actions</a></li>
            <li><a routerLink="count-info">Count Info</a></li>
        </ul>

    </div>

    <div>
        <h6>Inputs</h6>
        <ul>
            <li><a routerLink="inputs">Input Group Button</a></li>
            <li><a routerLink="inputs">Input Password</a></li>
            <li><a routerLink="input-select">Input Select</a></li>
            <li><a routerLink="inputs">Input Text</a></li>
        </ul>
    </div>

    <div>
        <h6>Foundation</h6>
        <ul>
            <li><a routerLink="inputs">Colors</a></li>
            <li><a routerLink="inputs">Icons</a></li>
            <li><a routerLink="inputs">Typography</a></li>
            <li><a routerLink="inputs">Custom Classes</a></li>
            <li><a routerLink="inputs">Buttons</a></li>
        </ul>
    </div>

</div>