<div class="section-header">Chips Test</div>
<div class="section-desc">Duplicate <b>NOT</b> allowed [duplicateAllowed], Valid email [pattern] <b>ON</b>, Auto
    complete is <b>ON</b>. Paste is
    <b>ON</b> [';', ',']. Edit <b>ON</b> with double click. Drag and Drop is <b>ON</b>. Backspace delete after selection
    is <b>ON</b>.
</div>
<div class="section">
    <div>To:</div>
    <ngym-tag-container (tagsEmitter)="getTags($event, 'zone1')" (onKeyPressedEmitter)="changeAutoCompleteItems($event)"
        [duplicateAllowed]="false" [splitChars]="[',', ';']" [pattern]="pattern" [dragAllowed]="true"
        [dragZone]="'zone1'" [autoCompleteItems]="autoCompleteItems">
    </ngym-tag-container>
</div>
<div class="section">
    <div>Cc:</div>
    <ngym-tag-container (tagsEmitter)="getTags($event, 'zone2')" (onKeyPressedEmitter)="changeAutoCompleteItems($event)"
        [duplicateAllowed]="false" [splitChars]="[',', ';']" [pattern]="pattern" [dragAllowed]="true"
        [dragZone]="'zone2'" [autoCompleteItems]="autoCompleteItems">
    </ngym-tag-container>
</div>
<div class="section">
    <div>Bcc:</div>
    <ngym-tag-container (tagsEmitter)="getTags($event, 'zone3')" (onKeyPressedEmitter)="changeAutoCompleteItems($event)"
        [duplicateAllowed]="false" [splitChars]="[',', ';']" [pattern]="pattern" [dragAllowed]="true"
        [dragZone]="'zone3'" [autoCompleteItems]="autoCompleteItems">
    </ngym-tag-container>
</div>
<div class="section">
    <button type="button" (click)="logFinal()">Send</button>
</div>