.section-header {
    font-size: 20px;
    background-color: dodgerblue;
    color: white;
    padding: 20px;
}

.section-desc {
    padding-top: 10px;
    padding-bottom: 10px;
}

.section {
    padding-bottom: 20px;
    width: 300px;
}
