<div class="section-header">Chips Test</div>
<div class="section-desc">Duplicate <b>NOT</b> allowed [duplicateAllowed], Valid email [pattern] <b>ON</b>, Auto
    complete is <b>ON</b>. Paste is
    <b>ON</b> [';', ',']. Edit <b>ON</b> with double click. Drag and Drop is <b>ON</b>. Backspace delete after selection
    is <b>ON</b>.
</div>
<div class="section">
    <div>To:</div>
    <ngym-tag-container [(ngModel)]="toTags" (onAddEmitter)="onTagAdd($event)" name="toTags"
        [placeholder]="'Katılımcı ekle'" (onKeyPressedEmitter)="changeAutoCompleteItems($event)"
        [duplicateAllowed]="false" [splitChars]="[',', ';']" [pattern]="pattern" [dragAllowed]="true"
        [dragZone]="'zone1'" [autoCompleteItems]="autoCompleteItems">
    </ngym-tag-container>
</div>
<div class="section">
    <div>Cc:</div>
    <ngym-tag-container [(ngModel)]="ccTags" (onAddEmitter)="onTagAdd($event)" name="ccTags"
        (onKeyPressedEmitter)="changeAutoCompleteItems($event)" [duplicateAllowed]="false" [splitChars]="[',', ';']"
        [pattern]="pattern" [dragAllowed]="true" [dragZone]="'zone2'" [autoCompleteItems]="autoCompleteItems">
    </ngym-tag-container>
</div>
<div class="section">
    <div>Bcc:</div>
    <ngym-tag-container [(ngModel)]="bccTags" (onAddEmitter)="onTagAdd($event)" name="bccTags"
        (onKeyPressedEmitter)="changeAutoCompleteItems($event)" [duplicateAllowed]="false" [splitChars]="[',', ';']"
        [pattern]="pattern" [dragAllowed]="true" [dragZone]="'zone3'" [autoCompleteItems]="autoCompleteItems">
    </ngym-tag-container>
</div>
<div class="section">
    <button type="button" (click)="logTags()">Send</button>
</div>
<div class="section-header">Chips Test</div>
<div class="section-desc">Custom template on Tag and AutoComplete menu.
</div>
<div class="section">
    <div>Mail</div>
    <ngym-tag-container [(ngModel)]="customTags" (onAddEmitter)="onTagAdd($event)"
        (onKeyPressedEmitter)="changeAutoCompleteItems($event)" [duplicateAllowed]="false" [splitChars]="[',', ';']"
        [pattern]="pattern" [dragAllowed]="true" [dragZone]="'zone3'" [autoCompleteItems]="autoCompleteItems"
        [tagTemplate]="tagTemplate" [autoCompleteTemplate]="autoCompleteTemplate">
        <ng-template let-item="item" #tagTemplate>
            <div class="ngym-tag">
                <div class="ngym-value">
                    {{ item.value }}
                </div>
                <div class="ngym-cross">X</div>
            </div>
        </ng-template>
        <ng-template let-item="item" #autoCompleteTemplate>
            <div style="background-color: gray; color: black;">
                {{ item.email }}
            </div>
        </ng-template>
    </ngym-tag-container>
</div>

<div class="section-header">Inputs Test</div>
<div class="section-desc">Input elements accessing with <b>[(ngModel)]</b></div>
<div class="section">
    <div class="section-element-header">Input Group Button <b>ngym-input-group-button</b></div>
    <div class="section-element">
        <ngym-input-group-button [faClass]="'fa-regular fa-circle-minus'" (onClickEmitter)="groupButtonRemove()"
            [(ngModel)]="inputGroupValue">
        </ngym-input-group-button>
    </div>
</div>
<div class="section">
    <div class="section-element-header">Input Text <b>ngym-input-text</b></div>
    <div class="section-element">
        <ngym-input-text [(ngModel)]="inputTextValue"></ngym-input-text>
    </div>
</div>
<div class="section">
    <div class="section-element-header">Input Password Text <b>ngym-input-password</b></div>
    <div class="section-element">
        <ngym-input-password [(ngModel)]="inputPasswordValue"></ngym-input-password>
    </div>
</div>

<div class="section-header">Reactive Forms</div>
<div class="section-desc">Input elements with <b>formControlName</b></div>
<div class="section">
    <div class="section-element-header">Form example with formControlName entegrated <b>formGroup</b></div>
    <div class="section-element">
        <form [formGroup]="form" (submit)="submitForm()">
            <div class="form-element">
                <label>Firstname: </label>
                <ngym-input-text formControlName="firstname"></ngym-input-text>
            </div>
            <div class="form-element">
                <label>Password: </label>
                <ngym-input-password formControlName="password"></ngym-input-password>
            </div>
            <div class="form-element">
                <label>Type: </label>
                <ngym-input-select (selectionChange)="onSelectChange($event)" [attr.data-name]="'type'"
                    [formControlName]="'type'" [options]="['Student', 'Trainer', 'Product Owner']"></ngym-input-select>
            </div>
            <div class="form-element">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

<ngym-prelogin-header [logo]="logo" [headerHtml]="headerHtml">
    <ng-template #headerHtml>
        <button class="btn btn-primary">click me</button>
    </ng-template>
</ngym-prelogin-header>